* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1468581264429-2548ef9eb732?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s linear;
}

.coming-soon {
    padding: 50px;
    position: relative;
    width: calc(100% - 100px);
    overflow: hidden;
    box-shadow: 0 25px 50px rgba(0,0,0,0.15);
    background: transparent;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.countdown {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.title {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 5px 0 10px rgba(255,255,255,0.2);
}

.container-common {
    min-width: 100px;
}

.day, .hour, .minute, .second {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(214,150,239,0.4) 0%, rgba(120,214,233,0.4) 100%);
    backdrop-filter: blur(2px);
    display: none;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    transition: 0.5s linear;
}

body.active .window {
    display: flex;
}

.button-play {
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    outline: none;
    border: none;
    padding: 10px;
    background: linear-gradient(90deg, rgba(214,150,239,1) 0%, rgba(120,214,233,1) 100%);
    cursor: pointer;
}

.setting-countdown {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s linear;
}

.button-setting-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.5s linear;
    transform: translateX(86%);
}

.setting-countdown.active .button-setting-wrap {
    transform: translateX(0);
}

.setting-countdown.active {
    z-index: 999;
}

.setting-countdown.active  ~ .window{
    z-index: 4;
}

.button-setting {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.button-setting i {
    font-size: 25px;
    animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    } 
    to {
        transform: rotate(0);
    }
}

.section-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.form-setting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px 0;
    color: #fff;
}

.input-title {
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: 0.2s linear;
    width: 100%;
}

.input-time {
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: 0.2s linear;
    width: 100%;
    background-color: #fff;
}

.input-title:focus {
    border-color: #e3cafe;
}

.input-time:focus {
    border-color: #e3cafe;
}

.button-submit {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #fff;
    transition: 0.2s linear;
}

.button-submit:focus, .button-submit:hover {
    border: 2px solid transparent;
    background-color: #e3cafe;
    color: #fff;
}

@media (max-width: 739px) {
    .countdown {
        justify-content: center;
        flex-wrap: wrap;
        gap: 45px 15px;
    }

    .coming-soon {
        width: calc(100% - 20px);
    }

    .title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .container-common {
        min-width: 80px;
    }

    .day, .hour, .minute, .second {
        font-size: 2rem;
    }
}

@media (max-width: 300px) {
    .window {
        width: 180px;
        height: 180px;
    }

}